@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import url('/frontend/public/back2.jpg');
@import url('/frontend/public/up.png');
@import url('/frontend/public/upi.png');
@import url('/frontend/public/specs.png');
@import url('/frontend/public/yoga.png');
@import url('/frontend/public/logo.png');
@import url('/frontend/public/elephant.png');
@import url('/frontend/public/a.jpg');
@import url('/frontend//public/palm.jpg');
@import url('/frontend/public/sky.jpg');
@import url('/frontend/public/char.jpg');
@import url('/frontend/public/harmy.png');
@import url('/frontend/public/pajamas_autoplay.svg');
@import url('/frontend/public/exp.png');
@import url('/frontend/public/q.svg');
@import url('/frontend/public/person.svg');

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Helvetica, sans-serif;
  overflow-x: hidden;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.7s ease-out forwards;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideFromRight {
  animation: slideFromRight 1s ease-out forwards;
}

.animate-slideFromLeft {
  animation: slideFromLeft 1s ease-out forwards;
}
.island {
  font-family: var(--font-island-moments);
}
.montserrat {
  font-family: var(--font-montserrat-alternates);
}
.notosans {
  font-family: var(--font-noto-sans);
}
.funnel {
  font-family: var(--font-funnel-sans);
}
.vietnam {
  font-family: var(--font-be-vietnam-pro);
}
.imperial {
  font-family: var(--font-imperial-script);
}
.poppins {
  font-family: var(--font-poppins);
}

.mirror-video {
  transform: scaleX(1) !important;/* Flip the video horizontally */
}

@media (max-width: 640px) {
  html, body {
    overflow-x: hidden !important;
  }
}

